<app-title title="Control Flow" withShadow />
<section class="grid grid-cols-1 md:grid-cols-2 gap-3">
  <div class="bg-white rounded-none shadow p-10">
    <h2 class="text-2xl font-bold mb-5">if: {{ showContent() }}</h2>
    <button (click)="toggleContent()" class="p-2 bg-blue-500 rounded text-whites">
      Click me
    </button>

    @if (showContent()) {
    <P>Hello World</P>
    } @else {
    <p>*********</p>
    }
  </div>
  <div class="bg-white rounded-none shadow p-10">
    <h2 class="text-3xl">{{ grade() }}</h2>
    @switch (grade()) {
    @case ('A') {
    <p>Arriba de 90</p>
    }
    @case ('B') {
    <p>Arriba de 80</p>
    }
    @default {
    <p>Reprobado</p>
    }
    }
  </div>
  <div class="bg-white rounded-none shadow p-10">
    <ul>
      @for (framework of frameworks(); track $index; let first = $first, last = $last, even = $even, odd = $odd, count =
      $count) {
      <li [class]="{
        'bg-red-100': even && !first && !last,
        'bg-green-100': odd && !first && !last,
        'bg-blue-100': first || last,
      }">{{ framework }}</li>
      }
    </ul>
  </div>
  <div class="bg-white rounded-none shadow p-10">
    <ul>
      @for (framework of frameworks2(); track $index;) {
      <li>{{ framework }}</li>
      } @empty {
      <li>No hay frameworks</li>
      }
    </ul>
  </div>
</section>
